* {
  box-sizing: border-box;
}

body {
  background: steelblue;
  color: white;
  background:#ccc url(../images/wood.jpg) repeat;
}

.bookContainer{
  margin: auto;
	width: 900px;
	position: relative;
  text-align: center;

  &__pageContainer {
    position: absolute;
    top: 50px;
    width: 345px;
    left: 480px;
    color: #000;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Satisfy', cursive;

    &__date {
      display: flex;
      justify-content: flex-end;
    }

    &__textContent {
      text-align: left;
    }

    &__buttonsContainer {
      display: flex;
      .choices {
        font-family: 'Satisfy', cursive;
      }
    }
  }

  .next_button, .prev_button {
    position:absolute;
    width:41px;
    height:40px;
    cursor:pointer;
    top:270px;
    background:transparent url(../images/buttons.png) no-repeat 0px -40px;
  }

  .prev_button{
    left:-30px;
  }
  .next_button{
    right:-30px;
    background-position:-41px -40px;
  }
}

.--hidden {
  display: none;
}

.--show {
  display: block;
}
