* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
  line-height: 32px;
}

.backgroundContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
  &__img {
    width: 100%;
  }
}

.bookContainer{
	width: 900px;
	position: relative;
  text-align: center;
  margin: 10vh 10vw;

  &__pageContainer {
    position: absolute;
    top: 50px;
    width: 340px;
    left: 480px;
    color: #000;

    &__date {
      display: flex;
      justify-content: flex-end;
    }

    &__textContent {
      text-align: left;
    }

    &__buttonsContainer {
      margin-left: -30px;

      .choices {
        cursor: pointer;
        text-align: left;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 18px;
        &:hover {
          color: red;
        }
      }
    }
  }

  .next_button, .prev_button {
    position:absolute;
    width:41px;
    height:40px;
    cursor:pointer;
    top:270px;
    background:transparent url(../images/buttons.png) no-repeat 0px -40px;
  }

  .prev_button{
    left:-30px;
  }
  .next_button{
    right:-30px;
    background-position:-41px -40px;
  }
}

.--hidden {
  display: none;
}

.--show {
  display: block;
}
